.body {
  background: #0b0b10;
  color: rgb(176, 176, 176);
  padding: 0 13rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

header {
  height: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
/* //////////////////////////////////////////////////////////// */
.hero-section {
  padding: 8rem 0 8rem 0;
}

h1 {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 7rem;
  line-height: 7rem;
  text-shadow: 0.3em 0.3em 1.5em white;
  color: white;
}

h2 {
  color: white;
  margin: 0 0 2rem 0;
}

p {
  margin: 0;
}

.job {
  color: #E93D82;
  margin-bottom: 3rem;
  font-weight: 500;
}

.description {
  line-height: 1.5rem;
}

.contact {
  margin: 2rem 0;
}

.contact a {
  color: rgb(176, 176, 176);
  color: white;
}
/* //////////////////////////////////////////////////////////// */
.skills-section {
  border-top: 1px solid rgb(176, 176, 176);
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.skills-ctnr {
  display: flex;
  justify-content: space-between;
}

.skill-card {
  display: flex;
  justify-content: start;
  align-items: center;
  /* border: 1px solid white; */
  background: #11111a;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  /* width: 7rem; */
}

.skill-card:hover {
    box-shadow: 0.2em 0.2em 0.5em rgb(87, 87, 87);
}

.skill-icon {
  font-size: 2rem;
}

.skill-img {
  height: 2rem;
}

.skill-label {
  font-size: 0.8rem;
  margin-left: 0.7rem;
}
/* //////////////////////////////////////////////////////////// */
.projects-section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(176, 176, 176);
  padding: 5rem 0;
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
