html, body {
  margin: 0;
  padding: 0;
}


.app {
  padding: 0 20%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 16px);
  width: 100%;
  box-sizing: border-box;
}

.app.dark {
  background: #0b0b10;
  color: #b0b0b0;
}

.app.light {
  background: #fffafe;
  color: #0b0b10;
}

header {
  height: 5rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.theme-button {
  border-radius: 50%;
  padding: 6px 8px;
  cursor: pointer;
}

.theme-button.dark {
  background: #11111a;
  box-shadow: 0.2em 0.2em 0.5em rgb(137, 137, 137);
  /* color: #fcf3fa; */
  /* border: 1px solid #fcf3fa; */
}

.theme-button.light {
  background: #faf2f8;
  color: #0b0b10;
  /* background: #f2e9f0; */
  box-shadow: 0.2em 0.2em 0.5em rgb(137, 137, 137);
  border: none;
}
/* //////////////////////////////////////////////////////////// */
.hero-section {
  padding: 4rem 0 5rem 0;
}

.main-title {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: clamp(36px, 8vw, 90px); 
  white-space: nowrap;
}

.main-title.dark {
    text-shadow: 0.3em 0.3em 1.5em white;
    color: white;
}

.main-title.light {
    text-shadow: 0.3em 0.3em 1.5em black;
}

h2 {
  color: white;
  margin: 0 0 2rem 0;
}

p {
  margin: 0;
}

.job {
  color: #E93D82;
  margin-bottom: 3rem;
  font-weight: 500;
}

.presentation {
  width: 60%;
}

.contact {
  margin: 4rem 0 2rem 0;
  font-weight: 600;
}

.mail.dark {
  /* color: white; */
  color: #E93D82;
}

.mail.light {
  /* color: black; */
  color: #E93D82;
  font-weight: 600;
}
/* //////////////////////////////////////////////////////////// */
.skills-section {
  border-top: 1px solid rgb(176, 176, 176);
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.skills-section.light h2 {
  color: #11111a;
}

.skills-ctnr {
  display: flex;
  flex-wrap: wrap;
}

.skill-card {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem 1rem 0;
}

.skill-card.dark {
  background: #11111a;
}

.skill-card.light {
  background: #faf2f8;
  box-shadow: 0.2em 0.2em 0.5em rgb(87, 87, 87);
}

.skill-card:hover {
    box-shadow: 0.2em 0.2em 0.5em rgb(87, 87, 87);
}

.skill-icon {
  font-size: clamp(20px, 3vw, 30px);
}

.skill-img {
  width: clamp(20px, 3vw, 30px);
}

.skill-label {
  font-size: clamp(11px, 1.2vw, 16px);
  margin-left: 0.7rem;
}
/* //////////////////////////////////////////////////////////// */
.projects-section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(176, 176, 176);
  padding: 5rem 0;
}

.projects-section.light h2 {
  color: #11111a;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


@media screen and (max-width: 768px) {
  .app {
    padding: 0 3rem;
  }
  .hero-section {
    padding: 2rem 0;
  }
  h1 {
    white-space: wrap;
  }
  .skills-section {
    padding: 2rem 0;
  }
  .projects-section {
    padding: 2rem 0;
  }
}



